body{
    background-image: url('../../assets/images/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    background-size: cover;
}

.container-winners {
    width: 35%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 170px;
    background: rgba(51, 50, 50, 0.918);
    border-radius: 20px;
}

.header{
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.76);
}